test/bot_secrets.py
test/data.json
test/discord_bot_test.py
test/noch.py
test/skrr.py
test/übersicht.md
test/__pycache__/bot_secrets.cpython-39.pyc
__pycache__/bot_secrets.cpython-39.pyc
bot_secrets.py
data.json
